* {
	box-sizing: border-box;
	font-size: 18px;
}

body {
	font-family: 'Barlow', sans-serif;
}

header {
	/*position: fixed;
	height: 50px;*/
	margin: 30px;

	display: flex;
	justify-content: space-between; 
}

header img {
	height: 25px;
}

.hamb-menu {
	cursor: pointer;
}

.hamb-menu span {
	display: block;
	width: 25px;
	height: 2px;
	background-color: hsl(230, 29%, 20%);
	margin: 4.5px 0;
}

nav {
	display: none;
}

.shape {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50vw;
	bottom: 50vh;
	right: 0;
	background-color: hsl(207, 33%, 95%);
	border-bottom-left-radius: 50px;
}

.background {
	width: 100%;
	margin: 10px auto;
}

#info {
	display: flex;
	flex-wrap: wrap;
	margin: 80px 30px 0;
}

h1,
h3, 
a,
p {
	font-family: 'Barlow Condensed', sans-serif;
}

h1,
h3,
a,
p {
	text-transform: uppercase;
}

h1,
h3:nth-of-type(1),
a {
	font-weight: 700;
}

h3,:nth-of-type(2),
p {
	font-weight: 400;
}

h1 {
	font-size: 2.3rem;
	margin: 20px 0;
}

h3 {
	display: inline;
	font-size: .9rem;
	margin: 0;
}

h3:nth-of-type(1) {
	letter-spacing: 2px;
	color: white;
	padding: 4px 8px 4px 11px;
	background-color: hsl(230, 29%, 20%);
	border-radius: 20px;
}

h3:nth-of-type(2) {
	color: hsl(231, 7%, 65%);
	font-weight: 400;
	letter-spacing: 5px;
	margin-left: 10px;
}

h2 {
	color: hsl(230, 11%, 40%);
	font-size: 1.1rem;
	margin: 0;
	line-height: 1.5;
}

.call {
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.call a,
.call p {
	font-size: .9rem;
	letter-spacing: 1.5px;
	flex: 0 0 50%;
	text-align: center;
}

.call a {
	text-decoration: none;
	color: white;
	background-color: hsl(0, 100%, 68%);
	padding: 10px 15px;
	border-radius: 5px;
}

.call p {
	color: hsl(231, 7%, 65%);
}
